body {
    background-color:#edddd0;
}

header {
    text-align: center;
    background-color: #a6cad4;
}

h1 {
    color: #db504a;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color:#ffcc5c;
    text-align: center;
}

article {
    color: #334259;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

nav {
    background-color: #e5e5dc;
    text-align: center;
    list-style-position: inside;
}