body {
    background-color: #487560;
}

header {
    text-align: center;
    background-color: #ffcc5c;
}

h2 {
    color:#ffcc5c;
    text-align: center;
}

article {
    color:#ffcc5c;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
